body{
    font-family: "Montserrat";
    font-weight: 400;
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid{
    padding: 3% 15% 15%;
}
h1{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: "montserrat";
    font-weight: bold;
    font-size: 1.7rem;
}

p{
    color: #8f8f8f;
}
.feature_paragraph{
    margin: 0 auto; 
    width: 80%;
}

/* Download-button */
.download-button-a,.download-button-b{
    margin: 5% 3% 5% 1%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

.title-image {
    width: 21%;
    transform: rotate(20deg);
    position: absolute;
    
  }
.title-posture{
    right: 20%;
    /* bottom: 4%; */
}
@media(max-width:1028px)
{
    .title-image{
        position: static;
        transform: rotate(0);
        padding-top: 50px;
        width: 55%;
    }

    #title{
        text-align: center;
        padding-bottom: 4%;
    }
}

  
#features{
   /* text-align: center; */
   padding: 7% 15%;
   background-color: #fff; 
   position: relative;
   z-index: 1;
}
.feature-box{
    text-align: center;
    padding: 4.5%;
}
/* navigation bar */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.3rem;
    font-family: "montserrat";
    font-weight: 300;
}
/* .page2{
    padding: 150px;
} */

/* Press Section */
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
/* Testimonial-section */
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Pricing Section */
#pricing{
    text-align: center;
    padding: 100px;
}
.pricing-column{
    padding: 3% 2%;
}

/* Cta Section */
#cta{
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding-bottom: 60px;
    margin-bottom: 100px;

}
.cta-department
{
    width: 60%;
    font-size: 3.5rem;
    padding-top: 80px;
    margin: 0 auto;
    line-height: 1.5;
    
}
/* .download-button-a{
    margin-right: 25px;
} */

/* Footer Section */
#footer{
    background-color: #fff;
    text-align: center;
    padding-bottom: 70px;
}
.footer-icon{
    margin-right: 15px;
    font-size: 1.5rem;
    margin-bottom: 25px;
}